html.feed {

  ._es1du._rgrbt {
    position: absolute;
    left: 750px;
    top: 0;
    width: 250px;
  }

  section._jx516 {
    max-width: 750px;
    position: relative;
    left: -100px;
  }

  #vimstagram_help {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-filter: opacity(0.3);
    filter: opacity(0.3);
    font-family: monospace;
    padding: 10px;

    table {
      tbody {
        tr {
          td {
            padding: 2px;
          }
        }
      }
    }
  }

}
